.container-app{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 65vh;
  border: 5px solid black;
  border-radius: 10px;
  /* background-color: aqua; */
}
.titulo{
  height: 15vh;
  /* height: 40%; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  /* background-color: yellowgreen; */
}

.mostra-total{
  height: 5vh;
  /* height: 20%; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  /* align-items: center; */
  /* background-color: blue; */
}

.insira-valor{
  height: 5vh;
  /* height: 20%; */
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blueviolet; */
}

.botoes{
  height: 5vh;
  /* height: 20%; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  /* background-color: brown; */
}

.botao-credito{
  background-color: rgb(8, 197, 8);
}

.botao-debito{
  background-color: rgb(201, 8, 8);
}

input{
  height: 5vh;
  width: 80%;
  border-radius: 5px;
  border: 0;
  background-color: rgb(109, 104, 104);
  color: white;
}

button{
  height: 70%;
  width: 10%;
}

h1{
  font-size: 60px;
  font-weight: bold;
}

h2{
  font-size: 25px;
  font-weight: bold;
}