html{

    height: 100%;

}

body{

    height: 100%;
    margin: 0;
    /* background-color: blue; */
}



#container{

    height: 100%;
    /* background-color: aquamarine; */
    display: flex;

}

#esquerda{
    height: 100%;
    width: 50%;
    /* background-color: brown; */
}

#esquerda-topo-um{

    height: 15%;
    width: 100%;
    /* background-color: chartreuse; */
}

#esquerda-topo-dois{

    height: 15%;
    width: 100%;
    /* background-color: goldenrod; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#esquerda-meio{

    height: 20%;
    width: 100%;
    /* background-color: chocolate; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#esquerda-baixo-um{

    height: 40%;
    width: 100%;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
}

#esquerda-baixo-dois{

    height: 10%;
    width: 100%;
    /* background-color: darkolivegreen; */
}

#direita{
    height: 100%;
    width: 50%;
    background-color: rgb(223, 64, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#lbltexto{
    color: white;
    font-family: sans-serif;
    font-size: 70px;
}

#lblsubtexto{
    margin: 10px 0 35px 0; /* topo - direita - baixo - esquerda */
    color: white;
    font-size: 25px;
    font-family: Arial;
}

.icons{
    height: 50%;

}

input{
    height: 9%;
    width: 55%;
    border: 0;
    background-color: rgb(230, 223, 223);
}

button{
    border-radius: 30px;
    height: 50px;
    width: 170px;
    border: solid 1px white;
    background-color: rgb(223, 64, 15);
    color: white;
}

#titulo{
    font-size: 80px;
    font-family: sans-serif;
    font-weight: bold;
}

#ebulogin{
    font-family: Arial;
    font-size: 20px;
}

#ebupwr{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}