html{
  height: 100%;
}

body{
  height: 100%;
  margin: 0;
  background-color: yellow;
}

.container-app{
  height: 100vh;
  /* padding: 25px; */
  display: flex;
  flex-direction: column;
  /* background-color: tomato; */
}

.cabecalho{
  display: flex;
  /* width: 100%; */
  justify-content: space-around;
  gap: 100px;
  flex-direction: row;
  padding: 5px;
  background-color: var(--cor-4);
}

.item{
  display: flex;
  width: 90px;
  justify-content: space-around;
  /* gap: 20px; */

  /* background-color: teal; */
}

.logo{
  display: flex;
  /* width: 40px; */
  justify-content: center;
  /* justify-content: flex-start; */
  /* background-color: violet; */
}

.corpo{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;

  background-color: var(--cor-6);
}

.item-meio{
  height: 500px;
  width: 350px;
  display: flex;
  justify-content: center;
  background-color: var(--cor-2)
}