body {
    background-image: url(borboleta.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.introducao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 230px;
    margin-left: 45px;
}

.objetivo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 17px;
}

button{
    background-color: rgba(62, 62, 165, 0.768);
    width: 9%;
    border-radius: 20px;
    height: 4vh;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
    margin-left: 280px;
    margin-top: 12px;
}